// CONTENEDOR GENERAL
.Vue-Toastification__container
  font-family: "Playfair Display", serif

// TOAST GENERAL
.Vue-Toastification__toast
  border-radius: 14px
  padding: 16px 22px
  box-shadow: 0 10px 30px rgba(0,0,0,.15)
  font-size: .95rem
  letter-spacing: .4px
  font-family: "Playfair Display", serif

// SUCCESS 
.Vue-Toastification__toast--success
  background: #FAF8F3
  color: #3A3A38
  border-left: 4px solid #C6A75E

// TEXTO
.Vue-Toastification__toast-body
  font-weight: 500

// BOTÓN CERRAR
.Vue-Toastification__close-button
  color: #3A3A38
  opacity: .7
  transition: .3s
  &:hover
    opacity: 1

// BARRA DE PROGRESO
.Vue-Toastification__progress-bar
  background: linear-gradient(90deg, #C6A75E, #E6C87B)
  height: 3px

// ERROR
.Vue-Toastification__toast--error
  background: #fff3f3
  color: #7a1c1c
  border-left: 4px solid #e74c3c

// INFO
.Vue-Toastification__toast--info
  background: linear-gradient(145deg, #f6f9ff, #ffffff)
  border-left: 4px solid #b08d57
  color: #1c3b7a
  