// CONTENEDOR GENERAL
.Vue-Toastification__container
  font-family: "Playfair Display", serif

// TOAST GENERAL
.Vue-Toastification__toast
  border-radius: 14px
  padding: 16px 22px
  box-shadow: 0 10px 30px rgba(0,0,0,.15)
  font-size: .95rem
  letter-spacing: .4px

// SUCCESS (el que usas)
.Vue-Toastification__toast--success
  background: #FAF8F3
  color: #3A3A38
  border-left: 4px solid #C6A75E

// TEXTO
.Vue-Toastification__toast-body
  font-weight: 500

// BOTÓN CERRAR
.Vue-Toastification__close-button
  color: #3A3A38
  opacity: .7
  transition: .3s

  &:hover
    opacity: 1

// BARRA DE PROGRESO
.Vue-Toastification__progress-bar
  background: linear-gradient(90deg, #C6A75E, #E6C87B)
  height: 3px







// // CONTENEDOR OSCURO
// .Vue-Toastification__container
//   font-family: "Playfair Display", serif

// // TOAST BASE
// .Vue-Toastification__toast
//   border-radius: 12px
//   padding: 18px 22px
//   box-shadow: 0 15px 35px rgba(0,0,0,.45)
//   font-size: .95rem
//   letter-spacing: .6px
//   backdrop-filter: blur(6px)

// // SUCCESS (login / register)
// .Vue-Toastification__toast--success
//   background: #0F0F0F
//   color: #F5F2E9
//   border: 1px solid rgba(198,167,94,.4)
//   position: relative
//   overflow: hidden

// // EFECTO BRILLO DORADO ANIMADO ✨
// .Vue-Toastification__toast--success::before
//   content: ""
//   position: absolute
//   top: 0
//   left: -120%
//   width: 120%
//   height: 100%
//   background: linear-gradient(120deg, transparent, rgba(198,167,94,.35), transparent)
//   animation: shine 3s infinite

// @keyframes shine
//   0%
//     left: -120%
//   50%
//     left: 120%
//   100%
//     left: 120%

// // TEXTO
// .Vue-Toastification__toast-body
//   font-weight: 500

// // BOTÓN CERRAR
// .Vue-Toastification__close-button
//   color: #C6A75E
//   opacity: .7
//   transition: .3s

//   &:hover
//     opacity: 1
//     transform: scale(1.2)

// // BARRA PROGRESO DORADA
// .Vue-Toastification__progress-bar
//   background: linear-gradient(90deg, #8f742e, #C6A75E, #E6C87B)
//   height: 3px